@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Sorry for inconvenience!</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3 class="text-danger">Please make sure that you have entered correct details and try again!</h3>
